SITE_URL=http://127.0.0.1:8080
REQUEST_TOKEN=request_token

TBANK_TERMINAL_ID=1234567890
TBANK_TERMINAL_PASSWORD=terminal_password
TBANK_USE_SUCCESS_PAYMENT_REDIRECT_URL=https://my-site/success.html
TBANK_USE_FAIL_PAYMENT_REDIRECT_URL=https://my-site/error.html

YOOKASSA_ACCOUNT_ID="account_id"
YOOKASSA_TOKEN="live_token"
YOOKASSA_USE_SUCCESS_PAYMENT_REDIRECT_URL="https://my-site/success.html"

PLANFIX_ACCOUNT=aspectgroup
PLANFIX_TOKEN=planfix_token
