:root {
  --primary: #8B5CF6;
  --secondary: #10B981;
  --dark: #1F2937;
  --light: #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  padding: 15px;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--t1);
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  line-height: 1.4;

  background: #3B0764;
  overflow-x: hidden;

  user-select: none;
}

.text-large {
  font-size: var(--lg);
}

.text-medium {
  font-size: var(--md);
}

.text-small {
  font-size: var(--sm);
}

.text-xsmall {
  font-size: var(--xs);
}

@media (max-width: 768px) {
  body {
    padding: 8px 6px;
  }
}